.home-page {
  background: #f0f0f0;

  .filter-controller {
    padding: 12px 15%;
    display: grid;
    grid-template-columns: 1fr max-content;
    background: white;

    .filter-content {
      display: flex;
      gap: 8px;
    }
  }

  .home-container {
    max-width: 750px;
    padding: 1rem 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
